PORT=# Port d'exposition de l'API Express

DATABASE_URL=# Chaîne de connexion PostgreSQL utilisée par Prisma
# Format attendu :
# postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public
DATABASE_USER=# Nom d'utilisateur de la base de données PostgreSQL local
DATABASE_PASSWORD=# Mot de passe de la base de données PostgreSQL local

JWT_SECRET=# Clé secrète utilisée pour signer et vérifier les JWT
